@import url(../node_modules/antd/dist/antd.variable.less);

.editor {
  height: 100vh;
  overflow-x: hidden;
  &-content {
    display: flex;
    flex-direction: column;
  }
}

.ant-layout-sider.resize {
  min-width: 350px !important;
  max-width: unset !important;
  flex-basis: unset !important;
  overflow: auto;
  resize: horizontal;
  transition: none !important;
}
