.editor-operator {
  // resize: horizontal;
  // overflow: auto;
  &-collapse {
    border-top: none;
  }

  &-component {
    .ant-btn {
      margin-right: 8px;
    }
  }

  &-button-wrapper {
    .ant-form-item-control-input-content {
      display: flex;
    }
  }
}
